<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conclusions</title>
    <link rel="stylesheet" th:href="@{/css/fonts.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="icon" type="image/png" th:href="@{/img/logoconclusions.png}">
    <link rel="icon" type="image/x-icon" th:href="@{/img/logoconclusions32px.png}">
</head>
<body>

<nav class="navigation">

    <a class="logo" href="/en">conclusions</a>

        <ul class="nav-list">
            <li>
                <button class="nav-item" onclick="location.href = '/en'">
                    Homepage
                </button>
            </li>
            <li>
                <button class="nav-item" onclick="location.href='/en/contact';">Contact</button>

            </li>
            <li>
                <button class="nav-item" onclick="window.open('https://github.com/rafal-draws', '_blank');">GitHub</button>
            </li>


        </ul>

        <div class="language-switch-panel">
            <button class="language-switch-button" onclick="location.href = '/pl';">
                PL
            </button>
        </div>
</nav>
<div class="posts">
    <div th:each="tempBlogPost : ${blogPosts}" class="post">
        <div class="post-title" th:text="${tempBlogPost.title}"></div>
        <div class="post-content" th:utext="${#strings.abbreviate(tempBlogPost.content, 100)}"></div>
        <div class="post-date" th:text="${#temporals.format(tempBlogPost.date, 'yyyy-MM-dd HH:mm')}"></div>
        <a th:href="@{'/en/posts/' + ${tempBlogPost.slug}}" class="post-read-more">Read More</a>
    </div>
</div>

<footer>
    Conclusions <span class="copymark">&#169;</span> Rafał Draws, 2023
</footer>

</body>
</html>
