<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conclusions</title>
    <link rel="stylesheet" th:href="@{/css/fonts.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/prism.css}">

    <link rel="icon" type="image/png" th:href="@{/img/logoconclusions.png}">
    <link rel="icon" type="image/x-icon" th:href="@{/img/logoconclusions32px.png}">
    <script th:src="@{/js/prism.js}"></script>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        Prism.highlightAll();
    });

    </script>
</head>
<body>

<nav class="navigation">

    <a class="logo" href="/en">conclusions</a>

    <ul class="nav-list">
        <li>
            <button class="nav-item" onclick="location.href = '/en'">
                Homepage
            </button>
        </li>
        <li>
            <button class="nav-item" onclick="location.href='/en/contact';">Contact</button>

        </li>
        <li>
            <button class="nav-item" onclick="window.open('https://github.com/rafal-draws', '_blank');">GitHub</button>
        </li>


    </ul>

    <div class="language-switch-panel">
        <button class="language-switch-button" onclick="location.href = '/pl';">
            PL
        </button>
    </div>
</nav>
<div class="single-post">
    <h1 class="single-post-title" th:text="${blogPost.title}"></h1>
    <div class="single-post-content" th:utext="${blogPost.content}"></div>
    <div class="single-post-date" th:text="${#temporals.format(blogPost.date, 'yyyy-MM-dd HH:mm')}"></div>
    <div class="single-post-author">Rafał Draws</div>
    <a class="back-link" href="/en/posts">Back to Posts</a>
</div>

<footer>
    Conclusions <span class="copymark">&#169;</span> Rafał Draws, 2023
</footer>

</body>
</html>
