<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conclusions</title>
    <link rel="stylesheet" th:href="@{/css/fonts.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>

<nav class="navigation">

    <a class="logo" href="/pl">conclusions</a>

    <ul class="nav-list">
        <li>
            <button class="nav-item" onclick="location.href = '/pl''">
                Strona główna
            </button>
        </li>
        <li>
            <button class="nav-item" onclick="location.href='mailto:rafal.draws@conclusions.eu';">Kontakt</button>
        </li>
        <li>
            <button class="nav-item" onclick="window.open('https://github.com/rafal-draws', '_blank');">GitHub</button>
        </li>


    </ul>

    <div class="language-switch-panel">
        <button class="language-switch-button" onclick="location.href = '/en';">
            EN
        </button>
    </div>
</nav>
<div class="posts">
    <div th:each="tempBlogPost : ${blogPosts}" class="post">
        <div class="post-title" th:text="${tempBlogPost.title}"></div>
        <div class="post-content" th:utext="${#strings.abbreviate(tempBlogPost.content, 100)}"></div>
        <div class="post-date" th:text="${tempBlogPost.date}"></div>
        <a th:href="@{'/pl/posts/' + ${tempBlogPost.slug}}" class="post-read-more">Read More</a>
    </div>
</div>

<footer>
    Conclusions &copy; Rafał Draws, 2023 <span class="copymark">&#169;</span>
</footer>

</body>
</html>
