<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conclusions</title>
    <link rel="stylesheet" th:href="@{/css/fonts.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/prism.css}">
    <script th:src="@{/js/prism.js}"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        Prism.highlightAll();
    });
    </script>
</head>
<body>
<nav class="navigation">
    <a class="logo" href="/en">conclusions</a>
    <ul class="nav-list">
        <li>
            <button class="nav-item" onclick="location.href = '/en'">
                Strona Główna
            </button>
        </li>
        <li>
            <button class="nav-item" onclick="location.href='/en/contact';">Kontakt</button>
        </li>
        <li>
            <button class="nav-item" onclick="window.open('https://github.com/rafal-draws', '_blank');">GitHub</button>
        </li>
    </ul>
    <div class="language-switch-panel">
        <button class="language-switch-button" onclick="location.href = '/en';">
            EN
        </button>
    </div>
</nav>
<div class="contact-post">
    <h1 class="contact-title">Skontaktuj się ze mną</h1>
    <div class="contact-content">Skontaktuj się ze mną poprzez LinkedIn lub mailowo na rafal.draws@conclusions.eu.</div>
    <div class="contact-links">
        <a class="linkedin-link" href="https://www.linkedin.com/">LinkedIn</a>
        <a class="email-link" href="mailto:rafal.draws@conclusions.eu">Email</a>
    </div>
    <a class="back-link" href="/pl/posts">Powrót do postów</a>
</div>
<footer>
    Conclusions <span class="copymark">&#169;</span> Rafał Draws, 2023
</footer>
</body>
</html>
